In [1]:
range (10)

range(0, 10)

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(-10))

[]

In [4]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [5]:
list(range(10,3))

[]

In [6]:
list(range(10,3,-1))

[10, 9, 8, 7, 6, 5, 4]

In [7]:
list(range(10,3.5,-1))

TypeError: 'float' object cannot be interpreted as an integer

In [10]:
l = [3,4,5,6,7,8,23,4,5,5]

for i in l:
    print(i)

3
4
5
6
7
8
23
4
5
5

In [11]:
l = [3,4,5,6,7,8,23,4,5,5]

for i in l:
    print(i+2)

5
6
7
8
9
10
25
6
7
7

In [16]:
l = [3,4,5,6,7,8,23,4,5,5]
m=[]

for i in l:
    m.append(i+2)

In [17]:
m

[5, 6, 7, 8, 9, 10, 25, 6, 7, 7]

In [18]:
l = [3,4,5,6,7,8,23,4,5,5]
m=[]

for i in range(len(l)):
    print(l[i])

3
4
5
6
7
8
23
4
5
5

In [19]:
l = [3,4,5,6,7,8,23,4,5,5]
m=[]

for i in range(len(l)):
    print(l[i]+2)

5
6
7
8
9
10
25
6
7
7

In [ ]:
l = [3,4,5,6,7,8,23,4,5,5]
m=[]

for i in range(len(l)):
    m.append(l[i]+2)

In [20]:
len(l)

10

m

In [21]:
m

[]

In [23]:
l = [3,4,5,6,7,8,23,4,5,5]
m=[]

for i in range(len(l)):
    m.append(l[i]+2)

In [24]:
m

[5, 6, 7, 8, 9, 10, 25, 6, 7, 7]

In [28]:
l = [3,4,5,6,7,8,23,4,5,5]
m=[]

for i in l:
    if i >=10:
       m.append(i+2)

In [29]:
m

[25]

In [30]:
s=10
if s>=10:
    print ("yes it is lesser than 10")

yes it is lesser than 10

In [31]:
s=10
if s>10:
    print ("yes it is lesser than 10")
elif s<50:
    print ("yes this data is lesser than 50")

yes this data is lesser than 50

In [35]:
s=10
if s>10:
    print ("yes it is lesser than 10")
elif s==50:
    print ("yes this data is lesser than 50")
else:
    print("none of the conditions is true")

none of the conditions is true

In [36]:
l = [3,4,5,6,7,8,23,4,5,5,"sweta","subhasish"]
m=[]

for i in l:
    if type(i)==str:
       m.append(i)

In [37]:
m

['sweta', 'subhasish']

In [41]:
s=10
if s==10:
    print ("yes it is lesser than 10")
    if type(s)==int:
        print ("yes my data is an integer")
elif s==50:
    print ("yes this data is lesser than 50")
else:
    print("none of the conditions is true")

yes it is lesser than 10
yes my data is an integer

In [42]:
l =[5,6,7,8,9,23,45]
for i in l:
    print(i)
else:
    print("nothing is left in my collection")

5
6
7
8
9
23
45
nothing is left in my collection

In [48]:
d = 10
s = 0
i = 1
while i<=d:
    s=s+i
    i=i+1
print(s)

55

In [49]:
for x in "subhasish":
    print(x)

s
u
b
h
a
s
i
s
h

In [59]:
for x in "subhasish":
    if x == 'h':
        break
    print(x)
else:
    print("I am able to complete iteration")
print('out of loop')

s
u
b
out of loop

In [60]:
for x in "subhasish":
    if x == 'z':
        break   #break  can be used inside any loop like while
    print(x)
else:
    print("I am able to complete iteration")
print('out of loop')

s
u
b
h
a
s
i
s
h
I am able to complete iteration
out of loop

In [62]:
for x in "subhasish":
    if x == 'a':
        continue   # gives control to for loop. anything after continue will not be executed
    print(x)

s
u
b
h
s
i
s
h

In [64]:
for x in "subhasish":
    if x == 'h':
        continue   # gives control to for loop. anything after continue will not be executed
    print(x)

s
u
b
a
s
i
s

In [65]:
input()

my name is raju

'my name is raju'

In [66]:
input()  #string always returns string output any type of input you insert

my name is gendu

'my name is gendu'

In [67]:
type(input())

123

str

In [69]:
a=input()
b=int(a)
type(b) # typecast not possible

123

int

In [72]:
a=int(ffff)
type(a)

NameError: name 'ffff' is not defined

In [75]:
a=input()
l=[1,2,3,4,5,6,7,5,5,5,6,7,8,9,9]
m=[]

for i in l:
    if i == a:
        m.append (i)
m

5

[]

In [80]:
a=int(input("insert only an integer\t"))
print("integer inserted")
l=[1,2,3,4,5,6,7,5,5,5,6,7,8,9,9]
m=[]

for i in l:
    if i == a:
        m.append (i)
m

insert only an integer	2
integer inserted

[2]

In [81]:
'swetapadma'+'mishra' #can only concatenate same data type

'swetapadmamishra'

In [82]:
1+2

3

In [83]:
'swetapadma'+1

TypeError: can only concatenate str (not "int") to str

In [84]:
"my name is sweta"

'my name is sweta'