In [2]:
f='subh'

In [7]:
f.center(11,'v')

'vvvvsubhvvv'

In [8]:
f.center(50,'ab')

TypeError: The fill character must be exactly one character long

In [10]:
'subh\tdash'.expandtabs()

'subh    dash'

In [12]:
'subh\tdash\tbalasore'.expandtabs()

'subh    dash    balasore'

In [14]:
'my name is {} kumar'.format('subh')  #place holder

'my name is subh kumar'

In [15]:
a=input("please give your name")

"my name is {}".format(a)

please give your nameSubhasish

'my name is Subhasish'

In [18]:
a=input("please give your first name")
b=input("please give me your last name")

"my name is {} {}".format(a,b)              #place order in sequential order

please give your first namesubh
please give me your last namedash

'my name is subh dash'

In [19]:
a=input("please give your first name")
b=input("please give me your last name")

"my name is {} {}".format(a)

please give your first namesubh
please give me your last namedash

IndexError: tuple index out of range

In [21]:
s='hello'

In [22]:
s.isalnum()

True

In [23]:
s.isalpha()

True

In [24]:
s.isnumeric()

False

In [28]:
a='ab12'

In [29]:
a.isalnum()

True

In [31]:
b='MNN'
b.islower()

False

In [32]:
b='Mnn'
b.islower()

False

In [33]:
b.istitle()

True

In [37]:
c='BasB'
c.istitle()

False

In [43]:
s.endswith('o')

True

In [44]:
len(s)

5

In [47]:
s

'hello'

In [48]:
print(s)

hello

In [53]:
a=[1,2,3,4,5,'hello',"subh",4.56,[3,4,5]]
b=[4,6,7,8,"my", 'name']

In [52]:
m=[]
for i in a:
    m.append(i)
m

[1, 2, 3, 4, 5, 'hello', 'subh', 4.56, [3, 4, 5]]

In [54]:
a+b

[1, 2, 3, 4, 5, 'hello', 'subh', 4.56, [3, 4, 5], 4, 6, 7, 8, 'my', 'name']

In [55]:
(a+b)*0

[]

In [57]:
(a+b)*2

[1,
 2,
 3,
 4,
 5,
 'hello',
 'subh',
 4.56,
 [3, 4, 5],
 4,
 6,
 7,
 8,
 'my',
 'name',
 1,
 2,
 3,
 4,
 5,
 'hello',
 'subh',
 4.56,
 [3, 4, 5],
 4,
 6,
 7,
 8,
 'my',
 'name']

In [58]:
b+list('subh')

[4, 6, 7, 8, 'my', 'name', 's', 'u', 'b', 'h']

In [59]:
b+'subbh'

TypeError: can only concatenate list (not "str") to list

In [61]:
b+list('ab')

[4, 6, 7, 8, 'my', 'name', 'a', 'b']

In [63]:
b.append('subh')
b

[4, 6, 7, 8, 'my', 'name', 'subh', 'subh']

In [64]:
b

[4, 6, 7, 8, 'my', 'name', 'subh', 'subh']

In [65]:
b.insert(3,"saf")

In [66]:
b

[4, 6, 7, 'saf', 8, 'my', 'name', 'subh', 'subh']

In [67]:
b.insert(-1,"saf")  # inserts data before the location here -1 is 'subh'

In [68]:
b

[4, 6, 7, 'saf', 8, 'my', 'name', 'subh', 'saf', 'subh']

In [69]:
z=[1,2,3,'abc']

In [70]:
z

[1, 2, 3, 'abc']

In [72]:
z+list('subh')

[1, 2, 3, 'abc', 's', 'u', 'b', 'h']

In [73]:
z

[1, 2, 3, 'abc']

In [74]:
z.append("subh")

In [75]:
z

[1, 2, 3, 'abc', 'subh']

In [76]:
b.pop()

'subh'

In [77]:
b

[4, 6, 7, 'saf', 8, 'my', 'name', 'subh', 'saf']

In [78]:
b.pop(2)

7

In [79]:
b[::-1]

['saf', 'subh', 'name', 'my', 8, 'saf', 6, 4]

In [81]:
b.reverse()
b

[4, 6, 'saf', 8, 'my', 'name', 'subh', 'saf']

In [83]:
c=[1,2,3,4]
c.reverse()   # changes data permanently
c

[4, 3, 2, 1]

In [84]:
d=[10,2,45]
d[::-1]
d

[10, 2, 45]

In [85]:
d

[10, 2, 45]

In [86]:
n=[23,13,45,67,'subh','dash']

In [87]:
n.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [88]:
m=[23,13,45,67,'subh','dash',[1,2,3,78]]
m.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [92]:
x=[1,45,67,8]
x.sort()
x

[1, 8, 45, 67]

In [93]:
x.sort(reverse=True)

In [94]:
x

[67, 45, 8, 1]

In [99]:
abc=[214,5,7,90,56]
x=[1,45,6,7,8]
a=[1,2,3,78,89,9,7,6,5,4]

d=[abc,x,a]
d

[[214, 5, 7, 90, 56], [1, 45, 6, 7, 8], [1, 2, 3, 78, 89, 9, 7, 6, 5, 4]]

In [101]:
d[-1][::2]

[1, 3, 89, 7, 5]

In [104]:
m=[]
d=d[::-1]

for b in d:
    m.append(b[::-1])

In [103]:
d

[[1, 2, 3, 78, 89, 9, 7, 6, 5, 4], [1, 45, 6, 7, 8], [214, 5, 7, 90, 56]]

In [105]:
m

[[56, 90, 7, 5, 214], [8, 7, 6, 45, 1], [4, 5, 6, 7, 9, 89, 78, 3, 2, 1]]

In [108]:
m=[]
d.reverse()

for b in d:
    m.append(b[::-1])

In [109]:
m

[[214, 5, 7, 90, 56], [1, 45, 6, 7, 8], [1, 2, 3, 78, 89, 9, 7, 6, 5, 4]]

In [110]:
n=[]
for i in m:
    n.append(i[2])   #2nd position of 2nd position data

In [111]:
n

[7, 6, 3]

In [112]:
n=[]
for i in m:
    n.append(i[2]*2)

In [113]:
n

[14, 12, 6]

In [ ]:
#list Comprehension operation

In [114]:
[i[2]*2 for i in m]

[14, 12, 6]

In [115]:
[{i[2]*2} for i in m]

[{14}, {12}, {6}]

In [125]:
s=[1,2,3,4]

In [118]:
m=[2,5,6,7,8]

In [119]:
m.extend([6,7,9,2])

In [120]:
m

[2, 5, 6, 7, 8, 6, 7, 9, 2]

In [126]:
s.append([6,7,9,2])
s

[1, 2, 3, 4, [6, 7, 9, 2]]

In [127]:
m=[2,5,6,7,8,'subh']
m.extend([6,7,9,2,[12,23,56]])

In [132]:
m

[2, 5, 6, 7, 8, 'subh', 6, 7, 9, 2, [12, 23, 56]]

In [135]:
m.index(100)

ValueError: 100 is not in list

In [131]:
m.find(8)

AttributeError: 'list' object has no attribute 'find'

In [137]:
for i in m:
    if i==7:
        m.remove(7)

In [148]:
m

[2, 5, 6, 8, 'subh', 6, 9, 2, [23, 56]]

In [150]:
for i in m:
    if i==23:
        m.remove(23)
    elif type(i)==list:
        i.remove(23)

In [151]:
m

[2, 5, 6, 8, 'subh', 6, 9, 2, [56]]